body{
    background-color: #9AD0C2;
}


.cpy{
    color: white;
}

p{
    text-align: justify;
}

.h1.h2.h3.h4{
font-family: 'Courier New', Courier, monospace;
}

.navbar{
    background-color: #40A2E3;
}

.c-item{
height: 550px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
